// Microsoft Visual C++ generated resource script.
//
#include "resource.h"

/////////////////////////////////////////////////////////////////////////////
//
// Icon
//

IDI_APP_ICON            ICON                    "App.ico"

/////////////////////////////////////////////////////////////////////////////
//
// HTML
//

IDR_MAIN_LAYOUT         HTML                    "Main.htm"
IDR_FILELISTVIEW_LAYOUT HTML                    "FileListView.htm"

/////////////////////////////////////////////////////////////////////////////
//
// PNG
//

IDR_ABOUT_PNG           RCDATA                  "About.png"
IDR_ABOUTBK_JPG         RCDATA                  "AboutBk.jpg"

/////////////////////////////////////////////////////////////////////////////
